<script src="/generated/render-nav.entry.js?v=v{{ version }}"></script>
<nav class="navbar sticky-top navbar-expand-lg navbar-top navbar-dark ftm">
  <ul class="navbar-nav navbar-brand">
    <li class="nav-item">
      {{#if (eq dataset "makers")}}
        <div class="icon icon-ftmakers_logo"></div>
      {{else}}
        <div class="icon icon-ftm_logo"></div>
      {{/if}}
    </li>
    <li class="nav-item">
      {{#if (eq dataset "makers")}}
        <a class="home-link location-link text-light" data-location='index.html'><span class="text">Find The
            Makers</span></a>
      {{else}}
        <a class="makers-home-link location-link text-light" data-location='index.html'><span class="text">Find The
            Masks</span></a>
      {{/if}}
    </li>
  </ul>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="countries-dropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
        </a>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="countries-dropdown"
          id="countries-dropdown-selector">
        </div>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="locales-dropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
        </a>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="locales-dropdown" id="locales-dropdown-selector">
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link i18n location-link" data-location='whoweare' data-i18n="ftm-nav-about" href="#">About</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link i18n location-link" data-location='volunteer' data-i18n="ftm-nav-volunteer" href="#">
          Join Us
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link i18n location-link" data-location='faq' data-i18n="ftm-nav-faq" href="#">
          FAQ
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link i18n location-link" data-location='partners' data-i18n="ftm-nav-partners" href="#">
          Partners
        </a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle i18n" href="#" id="share-dropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" data-i18n="ftm-nav-share">
          Share
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="share-dropdown"
          id="countries-dropdown-selector">
          <a data-social-type="facebook" class="share-link fb-xfbml-parse-ignore dropdown-item"
            onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.findthemasks.com%2F&amp;src=sdkpreparse','popup', 'width=600,height=800');return false;"
            href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.findthemasks.com%2F&amp;src=sdkpreparse">
            <div class="icon icon-facebook"></div> Facebook
          </a>
          <a data-social-type="instagram" target="_blank" class="share-link dropdown-item"
            href="https://www.instagram.com/findthemasks/" rel="noopener noreferrer">
            <div class="icon icon-instagram"></div> Instagram
          </a>
          <a data-social-type="twitter" class="share-link twitter-share-button dropdown-item" target="_blank" href="">
            <div class="icon icon-twitter"></div> Twitter
          </a>
          <a data-social-type="reddit" target="_blank" rel="noopener noreferrer" class="share-link dropdown-item"
            href="https://www.reddit.com/search?q=findthemasks">
            <div class="icon icon-reddit"></div> Reddit
          </a>
        </div>
      </li>
      <li class="nav-item">
        {{#if (eq dataset "makers")}}
        <a href="https://airtable.com/shruH5B27UP3PqKgg" class="add-makerspace-form">
          <button class="btn btn-addplace my-2 my-sm-0" type="button">
            <div class="icon icon-add_place"></div><span>Add Makerspace</span>
          </button>
        </a>
        {{else}}
        <a href="#" class="add-donation-site-form text-decoration-none">
          <button class="btn btn-addplace my-2 my-sm-0" type="button">
            <div class="icon icon-add_place"></div><span class="i18n" data-i18n="ftm-nav-addplace">I need PPE</span>
          </button>
        </a>
        {{/if}}
      </li>
      <li class="nav-item">
        {{#if (eq dataset "makers")}}
          <a href="https://findthemasks.com" class="xlink text-decoration-none">
            <button class="btn btn-xlink my-2 my-sm-0" type="button">
              <div class="icon icon-ftm_logo_black"></div><span>Find The Masks</span>
            </button>
          </a>
        {{else}}
          <a href="https://findthemakers.com" class="xlink text-decoration-none">
            <button class="btn btn-xlink my-2 my-sm-0" type="button">
              <div class="icon icon-ftmakers_logo_black"></div><span>Find The Makers</span>
            </button>
          </a>
        {{/if}}
      </li>
    </ul>
  </div>
</nav>
