<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161442455-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-161442455-1');
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/airbrake-js/1.6.7/client.min.js"></script>
  <script src="/airbrake.js?v=v{{ version }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.i18n/1.0.7/jquery.i18n.fallbacks.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.i18n/1.0.7/jquery.i18n.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.i18n/1.0.7/jquery.i18n.language.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.i18n/1.0.7/jquery.i18n.messagestore.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.i18n/1.0.7/jquery.i18n.parser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.i18n/1.0.7/jquery.i18n.emitter.bidi.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.i18n/1.0.7/jquery.i18n.emitter.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-linkify/2.1.9/linkify.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-linkify/2.1.9/linkify-element.min.js"></script>
  <script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script>
  <script>
    window.GOOGLE_MAPS_API_KEY = '{{googleMapsApiKey}}';
  </script>
  <link rel="stylesheet" href="/assets/styles/selectr.min.css" />
  <script src="/assets/scripts/selectr.min.js"></script>
  <script src="/generated/locations-list-map.entry.js?v=v{{ version }}" defer></script>
  <title>#Findthemasks</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
  <meta name="description" content="Help #findthemasks for covid-19" />
  <meta name="keywords" content="#findthemasks, masks, n95, coronavirus, covid-19" />
  <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <link rel="canonical" href="https://findthemasks.com/" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/give.css" />
  <link rel="stylesheet" href="/images/icons.data.svg.css" />

  <!-- START Open Graph Tags -->

  <!-- English -->
  <meta property="og:title" content="{{ogTitle}}"/>
  <meta property="og:url" content="{{ogUrl}}"/>
  <meta property="og:description" content="{{ogDescription}}"/>

  <meta property="og:image" content="https://findthemasks.com/images/map.jpg"/>
  <meta property="og:type" content="website"/>

  <meta property="og:locale"  content={{ogLocale}} />
  <meta property="og:locale:alternate" content="en" />
  <meta property="og:locale:alternate" content="fr" />
  <meta property="og:locale:alternate" content="de" />
  <meta property="og:locale:alternate" content="es" />
  <meta property="og:locale:alternate" content="it" />
  <meta property="og:locale:alternate" content="pt" />
  <meta property="og:locale:alternate" content="pl" />
  <meta property="og:locale:alternate" content="zh_TW" />

  <!-- END Open Graph Tags -->
</head>
<body>

{{{body}}}

</body>
</html>
