<!DOCTYPE html>
<html>

<head>
  {{> js-setup }}
  <script>
    window.GOOGLE_MAPS_API_KEY = '{{googleMapsApiKey}}';
  </script>
  <script src="/generated/locations-list-map.entry.js?v=v{{ version }}" defer></script>
  <title>#Findthemasks</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">
  <meta name="description" content="Help #findthemasks for covid-19" />
  <meta name="keywords" content="#findthemasks, masks, n95, coronavirus, covid-19" />
  <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>


  <link rel="canonical" href="https://findthemasks.com/" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- TODO: Remove selectr once give.css is generated and uses the npm version -->
  <link rel="stylesheet" href="/assets/styles/selectr.min.css" />
  <link rel="stylesheet" href="/generated/give.css" />

  <!-- START Open Graph Tags -->

  <!-- English -->
  <meta property="og:title" content="{{ogTitle}}" />
  <meta property="og:url" content="{{ogUrl}}" />
  <meta property="og:description" content="{{ogDescription}}" />

  <meta property="og:image" content="https://findthemasks.com/images/map.jpg" />
  <meta property="og:type" content="website" />

  <meta property="og:locale" content={{ogLocale}} />
  <meta property="og:locale:alternate" content="en" />
  <meta property="og:locale:alternate" content="fr" />
  <meta property="og:locale:alternate" content="de" />
  <meta property="og:locale:alternate" content="es" />
  <meta property="og:locale:alternate" content="it" />
  <meta property="og:locale:alternate" content="pt" />
  <meta property="og:locale:alternate" content="pl" />
  <meta property="og:locale:alternate" content="zh_TW" />

  <!-- END Open Graph Tags -->
</head>

<body data-dataset="{{dataset}}" data-country="{{countryCode}}" data-embed="true" data-partner-site="{{partnerSite}}" data-partner-style-class="{{partnerStyleClass}}">

  {{{body}}}

</body>

</html>
